.user-item {
  background-color: white;
  color: black;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 200px;
  }
}
